html, body, .spinner {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, firebrick, black);
}
greeting-app {
  --border: 3px solid black;
  --padding: 15px;
}